@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

@font-face {
    font-family: 'icomoon';
    src: url('../../fonts/icomoon/icomoon.eot?kbwijz');
    src: url('../../fonts/icomoon/icomoon.eot?kbwijz#iefix') format('embedded-opentype'), url('../../fonts/icomoon/icomoon.ttf?kbwijz') format('truetype'), url('../../fonts/icomoon/icomoon.woff?kbwijz') format('woff'), url('../../fonts/icomoon/icomoon.svg?kbwijz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-newspaper-o:before {
  content: "\e901";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-wifi:before {
  content: "\f1eb";
}
.icon-at:before {
  content: "\f1fa";
}
.icon-leanpub:before {
  content: "\f212";
}
.icon-map-o:before {
  content: "\f278";
}
.icon-search:before {
  content: "\f002";
}
.icon-search-plus:before {
  content: "\f00e";
}
.icon-lock:before {
  content: "\f023";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-exclamation-circle:before {
  content: "\f06a";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-chain:before {
  content: "\f0c1";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-circle-o:before {
  content: "\f10c";
}
.icon-circle:before {
  content: "\f111";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-unfold_more:before {
  content: "\e5d7";
}
.icon-old-mobile:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e942";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-sort-alpha-asc:before {
  content: "\ea48";
}
.icon-sort-alpha-desc:before {
  content: "\ea49";
}
.icon-sort-amount-asc:before {
  content: "\ea4c";
}
.icon-sort-amount-desc:before {
  content: "\ea4d";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-filter:before {
  content: "\ea5b";
}