$headerHeightSmall: 50px;
$headerHeightLarge: 100px;

/* Transition speeds */
$animSpeed1: .3s;


/* Screen sizes */
$smallDesktop: 1023px;
$desktop: 1024px;

$breakPointSmall: 914px;
$breakPointLarge: 915px;

$wpBreakPointSmall: 782px;
$wpBreakPointLarge: 783px;

$breakPointTinySmall: 550px;
$breakPointTinyLarge: 551px;

/* Fonts */
$mainFont: 'Open Sans', sans-serif;

/* Colours */
$themeLtGrey: #f7f7f7;
$color-bg-dark: #333;
$color-bg-dark-opac-80: rgba(34, 34, 34, .8);

$color-bg-secondary: #00cc99;

$color-bg-light: #fff;

$color-text-light: #fff;
$color-text-dark: #333;
$color-text-secondary: #00cc99;
