@import 'compass/css3';
@import '../includes/variables';
@import '../includes/fonts';
@import '../components/ctaButton';
.supadu-slider {
    position: relative;
    max-width: 100%;
    overflow: hidden;

    .slick-track {
        display: flex !important;
    }

    .slick-slide
    {
        height: inherit !important;
    }

    .slick-arrow {
        position: absolute;
        bottom: calc(50% - 50px);
        color: $color-text-light;
        z-index: 1;
        padding: 60px 10px;
        background-color: $color-bg-secondary;
        outline: 0;
        @include transition(padding, .2s);
        &:hover {
            padding-right: 30px;
            padding-left: 30px;
        }
    }
    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: 0px;
    }
    .slick-dots {
        position: absolute;
        bottom: 0px;
        width: 100%;
        float: left;
        text-align: center;
        li {
            display: inline-block;
            color: $color-text-light;
            margin: 0px 5px;
            button {
                &:after {
                    font-family: icomoon;
                    content: "\f10c";
                }
            }
            &.slick-active {
                button {
                    &:after {
                        font-family: icomoon;
                        content: "\f111";
                    }
                }
            }
        }
        button {
            font-size: 20px;
            @include transition(all, .4s);
            &:hover {
                opacity: .5;
            }
        }
    }
    .container {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        .overlay {
            height: 100%;
            max-width: 100vw;
            padding-top: 50px;
            padding-bottom: 50px;
            background-color: rgba(0, 0, 0, .6);
            * {
                color: $color-text-light;
            }
            &.caption-bottom{
                height: 60px;
                padding-top: 20px;
                padding-bottom: 20px;
                bottom: 0px;
            }
        }
        .slide-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 400px;
            p {
                line-height: 40px;
            }
        }
    }
    @media screen and(max-width: 639px) {
        .cta-button {
            display: inline-block;
            width: 49.5%;
            margin-right: 0px;
            text-align: center;
        }
        .summary {
            br {
                display: none;
            }
        }
    }
    @media screen and(max-width: 480px) {
        .cta-button {
            width: 100%;
            margin-bottom: 10px;
        }
    }
}